{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header text-center">
          <h3 class="text-center"> <i class="fas fa-user"></i> Kullanıcı Girişi</h3>
        </div>
        <div class="card-body">

          {% if error %}
          <span id="error-message" class="alert alert-danger" role="alert" style="display:block">Giriş bilgilerinizi
            kontrol ediniz.</span>
          {% endif %}
          {% if logout %}
          <span id="error-message" class="alert alert-success" role="alert" style="display:block">Başarıyla çıkış
            yaptınız.</span>
          {% endif %}

          <form method="POST" action="/submit" class="needs-validation">
            <div class="form-group">
              <label for="username">Kullanıcı Adı:</label>
              <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
              <label for="password">Parola:</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>

            <button type="submit" class="btn btn-primary">Gönder</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}