{% extends 'base.html' %}

{% block content %}


<div class="w-75 mx-auto">
    <div class="card">
        <div class="card-header text-center">
            <h5 class="text-center">
                <i class="fa fa-key"></i> Parola Değiştir
            </h5>
        </div>
        <div class="card-body">
            {% if success == "true" %}
            <span id="error-message" class="alert alert-success" role="alert" style="display:block">Parolayı başarıyla
                değiştirdiniz.</span>
            {% elif success == "false" %}
            <span id="error-message" class="alert alert-danger" role="alert" style="display:block">Girdilerinizi kontrol
                ediniz.</span>
            {% endif %}
            <form method="POST" action="/user/change_password" class="needs-validation">
                <div class="form-group">
                    <label for="current-password">Mevcut Parola</label>
                    <input type="password" class="form-control" id="current-password" name="current-password" required>
                </div>
                <div class="form-group">
                    <label for="new-password">Yeni Parola</label>
                    <input type="password" class="form-control" id="new-password" name="new-password" required>
                </div>

                <div class="form-group">
                    <label for="confirm-password">Yeni Parola Tekrarı</label>
                    <input type="password" class="form-control" id="confirm-password" name="confirm-password" required>
                </div>

                <button type="submit" class="btn btn-primary">Kaydet</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}