{% extends 'base.html' %}

{% block content %}
{% if request.args.get("delete") == "true" %}
<span id="error-message" class="alert alert-success" role="alert" style="display:block">Kullanıcıyı başarıyla
  sildiniz.</span>
{% endif %}
{% if request.args.get("changerole") == "true" %}
<span id="error-message" class="alert alert-success" role="alert" style="display:block">Kullanıcının rolünü
  değiştirdiniz.</span>
{% endif %}
{% if request.args.get("create") == "true" %}
<span id="error-message" class="alert alert-info" role="alert" style="display:block">Yeni kullanıcı eklediniz.</span>
{% endif %}
<div class="row">
  <div class="col-8">
    <div class="card text-white border-light bg-dark">
      <div class="card-header text-center">
        <h5 class="text-center">
          <i class="fa fa-users"></i> Kullanıcı Yönetimi
        </h5>
      </div>
      <div class="card-body">
        <table class="table table-bordered text-white">
          <thead>
            <tr>
              <th scope="col" style="width: 5px;">ID</th>
              <th scope="col" style="width: 90px;">Kullanıcı Adı</th>
              <th scope="col" style="width: 90px;">Rol</th>
              <th scope="col" style="width: 5px;">İşlem</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td>{{ user.id }}</td>
              <td style="width: 90px;">{{ user.username }}</td>
              <td style="width: 90px;">{{ user.role }}</td>
              <td  style="width: 5px;">
                <div class="float-center d-flex">
                  <form action="/user/{{ user.id }}/delete" method="post">
                    <button class="btn btn-danger mr-2" data-toggle="tooltip" data-placement="bottom"
                      title="Kullanıcıyı Sil">
                      <i class="fas fa-trash"></i>
                    </button>
                  </form>
                  <form action="/user/{{ user.id }}/change_role/down" method="post">
                    <button {{ 'disabled' if user.role == 'L1' }}  class="btn btn-success mr-2" data-toggle="tooltip" data-placement="bottom"
                      title="Rolünü Değiştir">
                      <i  class="fas fa-download"></i>
                    </button>
                  </form>
                  <form action="/user/{{ user.id }}/change_role/up" method="post">
                    <button {{ 'disabled' if user.role == 'admin' }}  class="btn btn-success mr-2" data-toggle="tooltip" data-placement="bottom"
                      title="Rolünü Değiştir">
                      <i  class="fas fa-upload"></i>
                    </button>
                  </form>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card text-white border-light bg-dark">
      <div class="card-header text-center">
        <h5 class="text-center">
          <i class="fa fa-user-plus"></i> Kullanıcı Ekle
        </h5>
      </div>
      <div class="card-body">
        <form method="POST" action="/user/create" class="needs-validation" novalidate>
          <div class="form-group">
            <label for="username">Kullanıcı Adı</label>
            <input type="text" class="form-control text-white bg-dark" id="username" name="username" required>
          </div>
          <div class="form-group">
            <label for="password">Şifre</label>
            <input type="password" class="form-control text-white bg-dark" id="password" name="password" required>
          </div>
          <div class="form-group">
            <label for="role">Rol</label>
            <select class="form-control text-white bg-transparent" id="role" name="role">
              <option value="L1">L1</option>
              <option value="L2">L2</option>
              <option value="admin">admin</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}