{% extends 'base.html' %}



{% block content %}
{% if request.args.get("delete") == "true" %}
<span id="error-message" class="alert alert-success" role="alert" style="display:block">Log'u başarıyla sildiniz.</span>
{% elif request.args.get("escale") == "true" %}
<span id="error-message" class="alert alert-success" role="alert" style="display:block">Log'u başarıyla escale
  ettiniz.</span>
  {% elif request.args.get("unescale") == "true" %}
  <span id="error-message" class="alert alert-success" role="alert" style="display:block">Log'u başarıyla unescale
    ettiniz.</span>
{% elif request.args.get("create_ticket") == "true" %}
<span id="error-message" class="alert alert-success" role="alert" style="display:block">Başarıyla ticket oluşturdunuz.</span>
{% endif %}


<table class="table table-bordered text-white">
{% if session['role'] == 'admin' and request.path == "/dashboard/admin" %}
  <div class="container mb-4">
    <div class="row">
      <div class="col">
        {% include 'log/pie_chart.html' %}
      </div>
      <div class="col">
        {% include 'log/line_chart.html' %}
      </div>
    </div>
  </div>
{% endif %}
  <thead>
    <tr>
      <th scope="col" style="max-width:50px;">ID</th>
      <th scope="col" style="width:600px;">Çalıştırılan Komut</th>
      <th scope="col" style="max-width:150px;">Saldırgan</th>
      <th scope="col" style="max-width:150px;">Olay Zamanı</th>
      <th scope="col" style="max-width:150px;">Log Seviyesi</th>
      <th scope="col">Kaynak</th>
      {% if request.path != '/dashboard/admin' %}
      <th scope="col" style="max-width:300px;">İşlem</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for log in logs %}
    <tr>
      <td>{{ log.id }}</td>
      <td>{{ log.command }}</td>
      <td>{{ log.ip_port }}</td>
      <td>{{ log.timestand }}</td>
      <td><b>{% for i in range(log.level) %}✯{% endfor %}</b></td>
      <td>{{ log.source }}</td>
      {% if request.path != '/dashboard/admin' %}
      <td>
        
        <div class="d-flex">
          {% if session['role'] != 'L1' and request.path != '/dashboard/L1' %}
            <form action="/log/{{ log.id }}/create_ticket" method="GET">
              <button class="btn btn-warning text-light mr-2" data-toggle="tooltip" data-placement="bottom" title="Ticket Oluştur">
                <i class="fas fa-plus"></i>
              </button>
            </form>
          {% endif %}
          {% if request.path == '/dashboard/L1' %} 
          <form action="/log/{{ log.id }}/escale" method="post">
            <button class="btn btn-primary mr-2" data-toggle="tooltip" data-placement="bottom" title="L2'ye Escale Et">
          {% elif request.path == '/dashboard/L2' %}
          <form action="/log/{{ log.id }}/unescale" method="post">
            <button class="btn btn-primary mr-2" data-toggle="tooltip" data-placement="bottom" title="L1'e Unescale Et">
          {% endif %}
              <i class="fas fa-eye"></i>
            </button>
          </form>
          <form action="/log/{{ log.id }}/delete" method="post">
            <button class="btn btn-danger mr-2" data-toggle="tooltip" data-placement="bottom" title="Sil">
              <i class="fas fa-trash"></i>
            </button>
          </form>
        </div>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}