{% extends 'base.html' %}

{% block content %}
<div class="card text-white border-light bg-dark">
  <div class="card-header text-center">
    <h5 class="card-title mb-0">
      Hoşgeldiniz {{session['username'] }}
    </h5>
  </div>
  <div class="card-body text-center">
    <div class="row">
      {% if session['role'] == 'admin' %}
      <div class="col">
        <div class="card text-white border-light bg-dark">
          <div class="card-body">
            <h5 class="card-header border-light mb-4"><i class="fa fa-users"></i> Kullanıcı Yönetimi</h5>
            <p class="card-text">Kullanıcı Sayısı: {{users_count}}</p>
            <a href="users" class="btn btn-primary">Görüntüle</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white border-light bg-dark">
          <div class="card-body">
            <h5 class="card-header border-light mb-4"><i class="fa fa-ticket-alt"></i> Ticketlar </h5>
            <p class="card-text">Mevcut Ticket Sayısı: {{total_ticket_count}} </p>
            <a href="/tickets" class="btn btn-primary">Görüntüle</a>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="col">
        <div class="card text-white border-light bg-dark">
          <div class="card-body">
            <h5 class="card-header border-light mb-4"><i class="fas fa-search"></i> Log Panelleri</h5>
            <p class="card-text">Toplam Log Sayısı: {{total_log_count}}</p>
            <a href="/dashboard/L1" class="btn btn-primary">L1</a>
            <a href="/dashboard/L2" class="btn btn-primary">L2 </a>
            <a href="/dashboard/admin" class="btn btn-primary">Tümü</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}